body {
  font-family: 'Roboto', sans-serif;
  padding-top: 85px;
  padding-left: 105px;
  margin: 0px 0px 0px 0px;
  color: black;
  background-color: #e1e6eb;
  }
  
  .header {
  height: 50px;
  display: flex;
  flex-direction: row;
  height: 48px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border:none;
  background-color: #3c8dbc;
  z-index: 99;
  font-size: 20px;
  color: white;
  }
  
  .left-section {
  display: flex;
  align-items: center;
  margin-left: 20px;
  }
  
  
  
  .add-friend-button {
  background-color: rgb(30, 104, 8);
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 12px 8px 12px;
  border-radius: 6px;
  margin-right: 3px;
  }
  
  .message-button {
  background-color: rgb(230, 230, 230);
  font-weight: bold;
  border: none;
  padding: 8px 12px 8px 12px;
  border-radius: 6px;
  margin-right: 20px;
  } 
  
  .sidebar {
  
  display: flex;
  flex-direction: column;
  align-content: center;
  position: fixed ;
  top: 48px;
  bottom: 0px;
  left: 0px;
  width: 120px;
  z-index: 100;
  padding-top: 10px;
  background-color: #fff;
  }
  
  .todo-list-grid {
  
  display: grid;
  grid-template-columns: 10px 200px 150px 100px;
  row-gap: 15px;
  column-gap: 10px;
  align-items: center;
  margin-left: 60px;
  }
  .input-grid {
  display: grid;
  grid-template-columns: 200px 150px 120px;
  row-gap: 10px;
  column-gap: 10px;
  align-items: center;
  margin-left: 60px;
  
  }
  
  .input-grid {
  margin-bottom: 10px;
  align-items: stretch;
  }
  .input-name,
  .due-date  {
  font-size: 15px;
  padding: 6px;
  margin-right: 20px;
  }
  .todotitle {
  margin-left: 60px;
  }
  
  .add-button{
  background-color: red;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  }
  h2 {
  color: white;
  }
  
  .delete-button {
  background-color: #3c8dbc;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .myCheckbox {
  margin: -5px;
  display: inline;
  height: 15px;
  width: 15px;
  }
  .email-dropbtn,
  .links-dropbtn,
  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    width: 110px;

  }
  .email-dropdown,
  .links-dropdown,
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .email-dropdown-content,
  .links-dropdown-content,
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #12afec;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .email-dropdown-content a,
  .links-dropdown-content a,
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  .email-dropdown-content a:hover,
  .links-dropdown-content a:hover,
  .dropdown-content a:hover {background-color: #f10707}
  
  .email-dropdown:hover .email-dropdown-content,
  .links-dropdown:hover .links-dropdown-content,
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .email-dropdown:hover .email-dropbtn,
  .links-dropdown:hover .links-dropbtn,
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  
