    body {
        font-family: 'Roboto', sans-serif;
    }
   
    .main {
        display: block;
      width: 100%;    
      background-color: #e1e6eb;
      margin-left: 110px;
      height: 1000px;
      padding-top: 50px;
    } 
    .title{
      margin-left: 40px;
    }
    .todo-list-grid {
         display: block;
      width: 100%;    
      white-space:nowrap;
      display: grid;
      grid-template-columns: 20px 260px 150px 100px;
      row-gap: 15px;
      column-gap: 20px;
      align-items: center;
      margin-left: 40px;
      white-space: normal;
      }
      .input-grid {
           display: block;
      width: 100%;    
      display: grid;
      grid-template-columns: 290px 150px 100px;
      row-gap: 15px;
      column-gap: 20px;
      align-items: center;
      margin-left: 40px;
      margin-bottom: 10px;
      align-items: stretch; 
      }
      .name {
       overflow-wrap: break-word;
       }
      .input-name,
      .due-date  {
      font-size: 15px;
      padding: 6px;
  
      }
  
      .add-button {
      margin-left: 10px;    
      display: block;
      width: 100%;    
      color: white;
      background-color: green;
      font-size: 15px;
      border: none;
      cursor: pointer;
      padding:10px;     
      }
  
      .delete-button {
      display: block;
      width: 100% ;   
      background-color: darkred;
      color: white;
      border: none;
      font-size: 15px;
      cursor: pointer;
      padding-top: 10px;
      padding-bottom: 10px;
      }
      .myCheckbox {
      margin: 0px;
      display: inline;
      }
